
header{
    background: #bbbb;
    padding: 20px 0;
}
/*aqui esta dando uma largura fixa padrão*/
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
/*editando o deslocamento da lista*/
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
/*aqui esta editando o posicionamento da lista*/
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
/*aqui esta editando as propriedades do texto*/
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}
/*quando o mouser esta por cima do elemento
menu lista */
nav a:hover{
    color: palevioletred;
    text-decoration: underline;
}
/*centralizando o conteúdo lista*/
/*aumentar o espaçamento interno*/
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
/*posicionando a lista um ao lado do outro*/
/*centralizando os intens conteúdo alinhado ao centro*/
/*colocando o conteudo obrigatoriamente igual*/
/*espaçamento entre os itens*/
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin:  0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000 ;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.produtos li:hover{
    border-color:  palevioletred;
    
}

.produtos li:active{
    border-color: aqua;
}
.produtos li:hover h2{
 font-size: 34px;
}
/*editando o titulo*/
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

/*ed descrição*/
.produto-descricao{
    font-size: 18px;
}

/*editando o preço*/
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

