
header{
    background: #bbbb;
    padding: 20px 0;
}
/*aqui esta dando uma largura fixa padrão*/
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
/*editando o deslocamento da lista*/
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
/*aqui esta editando o posicionamento da lista*/
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
/*aqui esta editando as propriedades do texto*/
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
/*centralizando o conteúdo lista*/
/*aumentar o espaçamento interno*/
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
/*posicionando a lista um ao lado do outro*/
/*centralizando os intens conteúdo alinhado ao centro*/
/*colocando o conteudo obrigatoriamente igual*/
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}
/*editando o titulo*/
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

/*ed descrição*/
.produto-descricao{
    font-size: 18px;
}

/*editando o preço*/
.produto-preco{
    font-size: 22px;
    font-weight: bold;
}

